<div class="wrapper">
  <form *ngIf="showForm" (ngSubmit)="onSubmit()" #form="ngForm" class="create-person-form">
    <div style="text-align:center"><strong>Create Person</strong></div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="personFormData.name" required placeholder="e.g., Bob">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone" [(ngModel)]="personFormData.phone" required placeholder="e.g., 123-456-789">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="personFormData.email" placeholder="e.g., example@example.com">
    </div>
    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" id="location" name="location" [(ngModel)]="personFormData.location" required placeholder="e.g., City, Country">
    </div>
    <button type="submit">Create Person</button>
  </form>
</div>
