<!-- about-me.component.html -->
<div class="about-me-container">
    <h2>About Me</h2>
    <p>
      Hello, I'm <strong>Kenan</strong>! I am a passionate <em>Programming</em> with a strong
      interest in <span style="color: #FF5733;">IDK</span>. This is my About Me page.
    </p>
    
    <h3>My Hobbies</h3>
    <ul>
      <li>Gaming</li>
      <li>Learning new stuff and technologies</li>
      <li>Somewhat into art mostly 3d rendering</li>
    </ul>
    
    <h3>Favorite Quotes</h3>
    <blockquote>
      "The only limit to our realization of tomorrow will be our doubts of today." - Franklin D. Roosevelt
    </blockquote>
    
    <p>
      Connect with me on:
      <a href="https://twitter.com/GoldPani" target="_blank">Twitter</a>,
      <a href="https://www.instagram.com/ken.sipahi/" target="_blank">Instagram</a>,
      <a href="https://github.com/kenco24" target="_blank">GitHub</a>,
      <a href="https://discord.gg/UPSsC5Q4tv" target="_blank">Discord Server (SIPS)</a>

    </p>
  </div>
  