<div class="wrapper">
  <form *ngIf="showForm" (ngSubmit)="onSubmit(form.value)" #form="ngForm" class="create-task-form">
    <div style="text-align:center"><strong>Creating task</strong></div>
    <div class="form-group">
      <label for="person">Select Person:</label>
      <select id="person" class="person-select" name="personName" ngModel required>
        <option *ngFor="let person of persons" [value]="person.name">{{ person.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="task">Task:</label>
      <textarea id="task" name="task" ngModel required></textarea>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="description" ngModel required></textarea>
    </div>
    <div class="form-group">
      <label for="dueDate">Due Date:</label>
      <input type="date" id="dueDate" name="dueDate" ngModel required>
    </div>
    <button type="submit">Create Task</button>
  </form>
</div>
