.container {
    position: relative;
    display: inline-block;
   
}

.dropbtn {
    padding: 10px;
    cursor: pointer;
    background-color: green; 
    color:white; 
    border: 1px solid rgb(48, 100, 48); 
    border-radius: 15px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin: 20px;
    text-align: center;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out; 
}

.dropdown-content {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    position: absolute;
    background-color: rgb(106, 173, 106);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container.clicked {
    background-color: rgb(106, 173, 106);
}

.container.clicked .dropbtn {
    color: white; 
}

.container.clicked .dropdown-content.slide-down {
    opacity: 1;
    transform: translateY(0);
}

.container.clicked .dropdown-content.slide-up {
    opacity: 0;
    transform: translateY(-20px);
}
