<div class="container" [class.clicked]="isDropdownOpen">
    <button class="dropbtn" (click)="toggleDropdown()">
        <fa-icon *ngIf="!isIconExpanded" [icon]="faBars"></fa-icon>
        <span *ngIf="isIconExpanded">X</span>
        Task Editor
    </button>
    <div class="dropdown-content" [ngClass]="{'slide-down': isDropdownOpen, 'slide-up': !isDropdownOpen}">
        <app-create-task-button></app-create-task-button>
        <app-edit-task-button></app-edit-task-button>
        <app-delete-task-button></app-delete-task-button>
    </div>
</div>
