button{
    background-color: green;
    color:white;
    text-align: right;
    margin-left:20px;
    border-radius: 15px;
    width: 140px;
    height: 30px;
}
.arrow-up::after {
    content: '\25B2';
  }
  
  .arrow-down::after {
    content: '\25BC'; 
  }