button{
    background-color: green;
    color:white;
    text-align: right;
    margin-left:800px;
    border-radius: 15px;
    width: 110px;
    height: 30px;
}
.arrow-up::after {
    content: '\25B2'; /* Unicode character for an upward arrow */
  }
  
  .arrow-down::after {
    content: '\25BC'; /* Unicode character for a downward arrow */
  }