button{
    background-color: green;
    color:white;
    text-align: right;
    border-radius: 15px;
    width: 150px;
    height: 60px;
    font-size:25px;
    margin:20px;
    text-align: center;
}