.container {
    background-image:url("../../assets/green-background.jpg");

    background-size:cover;
    
    
 

    padding: 20px;
    position: relative; 
}
.container{
  border:5px green solid;
}

.task-container {
    
    width:975px;
    background: linear-gradient(to bottom, #54c956, #456d47);
    border: 1px black solid;
    margin: 20px;
    padding: 20px;
}
.tasklist-title-container {
    border-bottom: solid 5px green;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin:30px;

    width: 1000px;
    height: 75px;
    background-color: rgb(106, 173, 106);
    font-size: 25px;
}
.title {
   position: absolute;
   left:450px;
}
.no-tasks-status{
  font-size:30px;

  position:relative;
  top:50%;
  text-align: center;
}

.due-date{
        font-size:15px;
        text-align: right; 
        text-decoration: underline;

    
}



  