div.scroll {
    background-color: lightgreen;
    width: 1000px;
    height: 750px;
 

    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    position: relative; /* Add relative positioning to the scroll container */
}

.task-container {
    border: 1px black solid;
    margin: 20px;
    padding: 20px;
}
.tasklist-title-container{
    padding-top:20px;
    width:1040px;
    height: 50px;;
    background-color:rgb(100, 131, 100);
    text-align: center;
    font-size:25px;
}


