<!-- instructions.component.html -->
<div class="instructions-container">
    <h2>How to Use My App</h2>
  
    <p>Welcome to My App! Follow these instructions to make the most out of your experience:</p>
  
    <ol>
      
      <li>
        <strong>Create a Person:</strong>
        <p>You can create a new person by clicking the Editor button and then clicking on the "Create Person" button. Provide the necessary information and submit the form.</p>
      </li>

      <li>
        <strong>Create a Task:</strong>
        <p>Similarly, create a new task, click on the "Create Task" button. Fill in the details and click "Submit."</p>
      </li>
  
      <li>
        <strong>Edit or Delete:</strong>
        <p>To edit or delete a task or person, click on the corresponding buttons. Confirm deletions through the confirmation dialog.</p>
      </li>
  
      <li>
        <strong>View All Tasks and Persons:</strong>
        <p>Explore all your tasks and persons by navigating to the respective sections. Use the delete and edit buttons to manage your data.</p>
      </li>
  
      <li>
        <strong>Refresh Data:</strong>
        <p>For the latest data, you can refresh the tasks and persons by clicking the refresh button in their respective sections.</p>
      </li>
  
      <li>
        <strong>Connect with Me:</strong>
        <p>Visit the "About Me" section to learn more about me and connect on social platforms, including LinkedIn, Twitter, Instagram, GitHub, and Discord.</p>
      </li>
    </ol>
  </div>
  