<!-- home.component.html -->
<div class="container">
  <div class="flex-container">
    <app-alltasks></app-alltasks>
    <app-all-persons></app-all-persons>
    <app-button-container (createTaskClick)="showCreateTaskForm()" (createPersonClick)="showCreatePersonForm()"></app-button-container>
    <app-create-task-form [showForm]="isCreateTaskFormVisible" (formSubmitted)="createTask()" ></app-create-task-form>
    <app-create-person-form [showForm]="isCreatePersonFormVisible" (formSubmitted)="createPerson()" ></app-create-person-form>
  </div>
</div>
