div.scroll {
    background-color: lightgreen;
    width: 1000px;
    height: 750px;
    border:5px green solid;
    border-right:none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
  }
 .task-container{
    border:1px black solid;
    margin:20px;
    padding:20px;
 }